@model ShipLine.Models.VoyageModel

@{
    ViewData["Title"] = "CreateVoyage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateVoyage</h1>

<h4>VoyageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
@*            <div class="form-group">
                <label asp-for="VoyageId" class="control-label"></label>
                <input asp-for="VoyageId" class="form-control" />
                <span asp-validation-for="VoyageId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ShipId" class="control-label">Ship Name</label>
                @Html.DropDownList("ShipId", new SelectList(ViewBag.ShipList, "Value", "Text"), "", new {@class= "form-control"})
                <span asp-validation-for="ShipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label"></label>
                @Html.DropDownList("RouteId", new SelectList(ViewBag.RouteList, "Value", "Text"), "", new {@class = "form-control"})
                <span asp-validation-for="RouteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VoyageQuantity" class="control-label"></label>
                <input asp-for="VoyageQuantity" class="form-control" />
                <span asp-validation-for="VoyageQuantity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CostPerTeq" class="control-label"></label>
                <input asp-for="CostPerTeq" class="form-control" />
                <span asp-validation-for="CostPerTeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
