@model ShipLine.Models.VoyageModel

@{
    ViewData["Title"] = "EditVoyage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditVoyage</h1>

<h4>VoyageModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="VoyageId" hidden class="form-control" />
            </div>
            <div class="form-group">
                <input asp-for="VoyageNumber" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="ShipId" class="control-label"></label>
                @Html.DropDownList("ShipId", new SelectList(ViewBag.ShipList, "Value", "Text"), "", new {@class = "form-control"})
                <span asp-validation-for="ShipId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RouteId" class="control-label"></label>
                @Html.DropDownList("RouteId", new SelectList(ViewBag.RouteList, "Value", "Text"), "", new {@class = "form-control"})
                <span asp-validation-for="RouteId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StartDate" class="control-label"></label>
                <input asp-for="StartDate" class="form-control" />
                <span asp-validation-for="StartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EndDate" class="control-label"></label>
                <input asp-for="EndDate" class="form-control" />
                <span asp-validation-for="EndDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-for="VoyageQuantity" hidden class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CostPerTeq" class="control-label"></label>
                <input asp-for="CostPerTeq" class="form-control" />
                <span asp-validation-for="CostPerTeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
