@model ShipLine.Models.ShipmentModel

@{
    ViewData["Title"] = "CreateShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>CreateShipment</h1>

<h4>ShipmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            @*<div class="form-group">
                <label asp-for="ShipmentId" class="control-label"></label>
                <input asp-for="ShipmentId" class="form-control" />
                <span asp-validation-for="ShipmentId" class="text-danger"></span>
            </div>*@
            <div class="form-group">
                <label asp-for="ShipmentNumber" class="control-label"></label>
                <input asp-for="ShipmentNumber" class="form-control" />
                <span asp-validation-for="ShipmentNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <input asp-for="CustomerId" class="form-control" />
                <span asp-validation-for="CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CargoContents" class="control-label"></label>
                <input asp-for="CargoContents" class="form-control" />
                <span asp-validation-for="CargoContents" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityTeq" class="control-label"></label>
                <input asp-for="QuantityTeq" class="form-control" />
                <span asp-validation-for="QuantityTeq" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipRequestDate" class="control-label"></label>
                <input asp-for="ShipRequestDate" class="form-control" />
                <span asp-validation-for="ShipRequestDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NeedByDate" class="control-label"></label>
                <input asp-for="NeedByDate" class="form-control" />
                <span asp-validation-for="NeedByDate" class="text-danger"></span>
            </div>            
            <div class="form-group">
                <label asp-for="DestinationPortId" class="control-label"></label>
                <input asp-for="DestinationPortId" class="form-control" />
                <span asp-validation-for="DestinationPortId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SourcePortId" class="control-label"></label>
                <input asp-for="SourcePortId" class="form-control" />
                <span asp-validation-for="SourcePortId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
