@model ShipLine.Models.VoyageShipmentModel

@{
    ViewData["Title"] = "EditVoyageShipment";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>EditVoyageShipment</h1>

<h4>VoyageShipmentModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="VoyageShipmentId" class="control-label"></label>*@
                <input asp-for="VoyageShipmentId" hidden class="form-control" />
                @*<span asp-validation-for="VoyageShipmentId" class="text-danger"></span>*@
            </div>
            <div class="form-group">
                <label asp-for="VoyageId" class="control-label">Voyage Number</label>
                @Html.DropDownList("VoyageId", new SelectList(ViewBag.VoyageList, "Value", "Text"), "", new {@class= "form-control"})
                <span asp-validation-for="VoyageId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShipmentId" class="control-label">Shipment Number</label>
                @Html.DropDownList("ShipmentId", new SelectList(ViewBag.ShipmentList, "Value", "Text"), "", new {@class= "form-control"})
                <span asp-validation-for="ShipmentId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
